___

<a href='https://www.udemy.com/user/joseportilla/'><img src='https://github.com/abarbosa85/Complete-Python-3-Bootcamp/blob/master/02-Python%20Statements/Pierian_Data_Logo.png?raw=1'/></a>
___
<center><em>Content Copyright by Pierian Data</em></center>

# Statements Assessment Test
Let's test your knowledge!

_____
**Use <code>for</code>, .split(), and <code>if</code> to create a Statement that will print out words that start with 's':**

In [23]:
st = 'Print only the words that start with s in this sentence'

In [25]:
#Code here

for i in st.split():
    if i.startswith("s") or i.startswith("S"):
        print(i)

start
s
sentence

______
**Use range() to print all the even numbers from 0 to 10.**

In [26]:
#Code Here

for i in range(0,11):
  if i%2==0:
    print(i)

0
2
4
6
8
10

___
**Use a List Comprehension to create a list of all numbers between 1 and 50 that are divisible by 3.**

In [28]:
#Code in this cell
mylist = [x for x in range(0,51) if x%3==0 ]
mylist

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

_____
**Go through the string below and if the length of a word is even print "even!"**

In [ ]:
st = 'Print every word in this sentence that has an even number of letters'

In [29]:
#Code in this cell

for i in st.split():
    if len(i)%2==0:
        print(i)

only
that
with
in
this
sentence

____
**Write a program that prints the integers from 1 to 100. But for multiples of three print "Fizz" instead of the number, and for the multiples of five print "Buzz". For numbers which are multiples of both three and five print "FizzBuzz".**

In [ ]:
#Code in this cell
for i in range(1,101):
  if i%3==0 and i%5==0:
     print('FizzBuzz')
  elif i%5==0:
     print('Buzz')
  elif i%3==0:
     print('Fizz')
  else:
    print(i)

____
**Use List Comprehension to create a list of the first letters of every word in the string below:**

In [21]:
st = 'Create a list of the first letters of every word in this string'

In [22]:
#Code in this cell
mylist1 = [x[0] for x in st.split()]
mylist1

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']

### Great Job!